

@media (max-width: 414px) {
  h2 {
    font-size: 24px;
    line-height: 39px;
  }

  p {
    font-size: 15px;
  }

  .hometext {
    font-size: 20px;
  }

  .fea-base {
    font-size: 19px;

  }

  .fea-para {
    width: 350px;
    font-size: 16px;

  }
  .reasonar-box{
    width: auto;
    font-size: 20px;
    margin-left: -20px;
  }
  .reasonar-right {
    width: auto;
    font-size: 18px;
    margin-left: 5px;
    margin-top: -100px;
  }

  .reasonar-b {
    margin-left: -50px;
  }

  .reasonar-b .li .para {
    width: 350px;
    font-size: 14px;
  }

  .card {
    margin-left: 35px;
  }

  .mid_bolder {
    font-size: 18px;
  }

  .formbox2 {
    width: 385px;
    height: 590px;
  }

  .btn3 {
    width: 250px;
  }

  .fw-bolder {
    font-size: 18px;
  }

  .middle-right2 {
    margin-left: 40px;
   
  }

  .break2 {
    justify-content: center;
  }

  /*.......about.html........*/
  .abouth {
    margin-left: -70px;
  }

  h1.abouth2 {
    width: 180px;
    margin-left: -90px;
    font-size: 30px;
    line-height: 39px;
  }

  .listhead {
    width: 700px;
    font-size: 16px;
    line-height: 140%;
    margin-left: -70px;
  }

  .image7 {
    margin-top: -50px;
    margin-left: 50px;
  }

  .image8 {
    margin-top: -120px;
    margin-right: 50px;
  }

  .image21 {
    margin-top: -20px;
    margin-left: 30px;
  }

  .about-left {
    width: auto;
    margin-left: 10px;
    font-size: 18px;
    margin-top: -100px;
  }

  .aboutpara2 {
    width: auto;
    font-size: 14px;
    margin-bottom: 50px;
  }

  .btn_about {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .about4-left {
    margin-top: 10px;
    font-size: 22px;
  }

  .about-left5 {
    font-size: 22px;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }

  .aboutpara5 {
    font-size: 14px;
  }
  

/*..........service online...........*/
h5.onlineh {
  font-size: 18px;
 
}

h1.onlineh2 {
  font-size: 25px;
  line-height: 39px;
}
.serviceon-left {
  font-size: 20px;
  margin-top: -50px;
}
.services-b {
  font-size: 16px;
  
}
.servicesec2 .row{
  flex-direction: column;
}
.image9{
  margin-top: 270px;
 
}
.boxonline {
  margin-left: 0px;
}
.service-bolder{
font-size: 20px;
}
.btn4 {
  margin-left: 30px;
  
}
.card5 {
  margin-left: 30px;
}
.serviceonline-bolder {
  font-size: 30px;
}
.card3{
margin-left: 50px;
}
.service6 .row{
  flex-direction: column;
 
}
.section6_bolder {
  width: auto;
  font-size: 25px;
}

.service-step1 {
  width: auto;
  font-size: 18px;
}

.parestep1 {
  width: auto;
  font-size: 15px;
 
}

.parali {
  width: auto;
 font-size: 16px;
  
}
.servicesregistration-head{
font-size: 24px;
}
.serviceon-left{
  width: auto;
}
.services-bhead{
  width: auto;
  font-size: 26px;
}
.section8_bolder{
  width: auto;
  font-size: 25px;
}
.service-step2{
  width: auto;
  font-size: 18px;
}
.sec9_bolder{
width: auto;
font-size: 25px;
}
.services-li5{
  width: auto;
  font-size: 16px;
}
.parali6{
width: auto;
font-size: 16px;
}
.paranew{
  width: auto;
  font-size: 16px;
}
.Ngohead{
  width: auto;
  font-size: 22px;
}
.parestepNgo{
  width: auto;
  font-size: 18px;
}
.services-li10{
  width: auto;
  font-size: 18px;
}
.services-bheadMSME{
  width: auto;
  font-size: 22px;
}
.li12M{
  width: auto;
  font-size: 17px;
}
}

